{% extends "base.html" %}

{% block title %}0xFlag - NMAP{% endblock %}

{% block content %}

<div class="container px-5 my-5">
    <div class="text-center text-white mb-5">
        <h1 class="fw-bolder">Generador Nmap</h1>
        <p class="lead text-white-50">Introduce los datos para generar el comando.</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6">

            <div class="card bg-secondary text-white border-0 shadow">
                <div class="card-body p-4">

                    <form action="/generate" method="POST">

                        <div class="mb-3">
                            <label class="form-label fw-bold">IP Objetivo:</label>
                            <input
                                  type="text"
                                  class="form-control"
                                  name="target_ip"
                                  pattern="^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])(\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])){3}$"
                                  placeholder="Ej: 10.10.10.55"
                                  title="Ingresa una IP válida (ej: 192.168.1.1)"
                                  value="{{ current_conf.target_ip if current_conf and current_conf.target_ip else '' }}" required>
                        </div>

                        <div class="mb-4">
                            <label class="form-label fw-bold">Scan Type:</label>
                            <select class="form-select" name="scan_type" required>
                                <option value="">Selecciona una opción</option>
                                <option value="fast">Rápido (-F)</option>
                                <option value="full">Completo (-p- -sV)</option>
                                <option value="udp">Básico UDP</option>
                            </select>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-success btn-lg">
                                GENERAR COMANDO
                            </button>
                        </div>

                    </form>

                </div>
            </div>

            {% if result %}
            <div class="terminal-output">
                <div class="output-header">
                    <h5 class="mb-0">&gt; Output:</h5>
                    <button class="btn-copy" data-target="output-text">
                        <i class="bi bi-clipboard"></i> Copiar
                    </button>
                </div>

                <hr class="border-success mt-1 mb-2">
                <p id="output-text" class="mb-0">{{ result }}</p>
            </div>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}