{% extends "base.html" %}

{% block title %}0xFlag - NMAP{% endblock %}

{% block content %}
<div class="container px-5 my-5">
    <div class="text-center text-white mb-5">
        <h1 class="fw-bolder">Generador Nmap</h1>
        <p class="lead text-white-50">Escanea en busca de puertos</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6">
            
            <div class="card bg-secondary text-white border-0 shadow">
                <div class="card-body p-4">
                    <form onsubmit="event.preventDefault();">
                        
                        <div class="mb-3">
                            <label class="form-label fw-bold">IP Objetivo:</label>
                            <input 
                                type="text" 
                                id="nmap_ip" 
                                class="form-control bg-dark text-white border-0 font-monospace" 
                                placeholder="Ej: 10.10.10.55"
                                autocomplete="off"
                                value="{{ config.target_ip if config and config.target_ip else '' }}">
                        </div>

                        <div class="mb-4">
                            <label class="form-label fw-bold">Tipo de Escaneo:</label>
                            <select id="nmap_type" class="form-select bg-dark text-white border-0">
                                <option value="">-- Selecciona una opción --</option>
                                {% for key, command in scans.items() %}
                                    <option value="{{ key }}">{{ key | capitalize }} Scan</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <div class="terminal-output mt-4" id="nmap-output-container" style="display:none;">
                <div class="output-header">
                    <span class="fw-bold">&gt; Comando Generado:</span>
                    <button class="btn-copy" id="btn-nmap-copy" data-target="nmap-output-text">
                        <i class="bi bi-clipboard"></i> Copiar
                    </button>
                </div>

                <input type="text" 
                    id="nmap-output-text" 
                    class="terminal-input" 
                    readonly 
                    value="">
            </div>

        </div>
    </div>
</div>

<script>
    window.nmapDataDB = {{ scans | tojson }};
</script>

{% endblock %}