{% extends "base.html" %}

{% block title %}0xFlag - TTY Assist{% endblock %}

{% block content %}
<div class="container px-5 my-5">
    <div class="text-center text-white mb-5">
        <h1 class="fw-bolder">TTY Assistant</h1>
        <p class="lead text-white-50">Estabiliza tu Shell interactiva</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            
            <div class="card bg-secondary text-white border-0 shadow mb-4">
                <div class="card-body p-4">
                    <label class="form-label fw-bold">Selecciona el método:</label>
                    <select class="form-select bg-dark text-white border-0" id="tty_select">
                        <option value="">-- Elige una técnica --</option>
                        {% for key, proc in procedures.items() %}
                            <option value="{{ key }}">{{ proc.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div id="tty-output-container" class="terminal-output" style="display: none;">
                
                <div class="output-header">
                    <div>
                        <span class="fw-bold" id="tty-title-display"></span>
                        <span class="badge border border-success text-success bg-transparent ms-2" id="tty-desc-display"></span>
                    </div>
                </div>
                
                <div id="tty-commands-list"></div>

                <div id="tty-notes-box" class="alert alert-dark border-warning text-warning mt-4 mb-0 p-3 small" style="display: none;">
                    <i class="bi bi-exclamation-triangle-fill me-2"></i> 
                    <span id="tty-notes-text"></span>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    window.ttyDataDB = {{ procedures | tojson }};
</script>

{% endblock %}